body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Overpass", sans-serif;
}
h1 {
  text-align: center;
}

/* jika ingin membuat element div menjadi tengah secara vertical, 
maka div tersebut harus dibungkus terlebih dahulu dengan parent, 
lalu height parent di set menjadi 100vhm dan display menjadi flex, 
kemudian childnya yang akan diposisi kan di tengah, diberi margin atas bawah auto */

.main {
  height: 100vh;
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 63%;
}
.container form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.container form input {
  padding: 15px 10px 15px 10px;
  border-radius: 8px;
  border: 1px solid rgb(134, 134, 134);
}

.container form input:focus {
  outline: 1px solid rgb(34, 127, 209);
  /* border: 1px solid rgb(34, 127, 209); */
}

input:nth-child(2) {
  margin-bottom: 15px;
}
label {
  margin-bottom: 8px;
}

button {
  padding: 10px 5px 10px 5px;
  margin-top: 20px;
  border-radius: 8px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: rgb(34, 127, 209);
  border: none;
  color: white;
  box-shadow: 7px 7px 31px -8px rgba(189, 189, 189, 0.92);
  -webkit-box-shadow: 7px 7px 31px -8px rgba(189, 189, 189, 0.92);
  -moz-box-shadow: 7px 7px 31px -8px rgba(189, 189, 189, 0.92);
  cursor: pointer;
}

@media only screen and (min-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65%;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 43%;
  }
}

